<p id="notice"><%= notice %></p>

<p>
  <strong>Quantidade:</strong>
  <%= @movimentacao.quantidade %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @movimentacao.pessoa %>
</p>

<p>
  <strong>Operacao:</strong>
  <%= @movimentacao.operacao %>
</p>

<p>
  <strong>Produto:</strong>
  <%= @movimentacao.produto %>
</p>

<p>
  <strong>Data:</strong>
  <%= @movimentacao.data %>
</p>

<%= link_to 'Edit', edit_movimentacao_path(@movimentacao) %> |
<%= link_to 'Back', movimentacaos_path %>
